@media (max-width: 991px) {
    /* Social Icons */
    header div.social-icons {
        display: none;
    }

    /* Search  */
    header div.search {
        display: none;
    }
    
    header h1.logo img{
         height: 80px;
         width: 200px;
    }

    .category-lst li img {
        height: 208px;
        width: 314px;
    }
}

@media (max-width: 768px) {
    header nav {
        float: none;
    }

    .nav-pills > li {
        float: right;
    }
     header h1.logo img{
        margin-left:1px;
    }
    .nav {
        float: right;
    }
    .nav-pills > li {
        float: none;
        text-align: right;
    }
    header nav ul.nav-top li span {
            margin-top: 0;
    padding: 0;
    }
}

@media (max-width: 500px) {
    /* Social Icons */
   .phone{
       display:none !important;
   }
    div.product-img img {
        width: 250px;
        height: 250px;
    }

    .tp-leftarrow{
        left:0 !important;
    }
    .tp-rightarrow{
        right:0 !important;
    }
    header h1.logo img{
        height: 64px;
    width: 150px;
        margin-left: -25px;
    }
}


@media (max-width: 767px) {
    .navbar-nav .open .dropdown-menu {
        background-color: #ff9205;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #fff;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #555;
        background-color: #e7e7e7;
    }
   #largeImg{
       width:90%;
   }
}
