/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

header > div.container {
    width: 100%;
}

ul.social-icons {
    margin: 0;
    padding: 0;
    width: auto;
}

ul.social-icons li.facebook {
    background-position: 0 -120px;
}

ul.social-icons li.facebook:hover {
    background-position: 0 -150px;
}

ul.social-icons li.twitter {
    background-position: 0 -1140px;
}

ul.social-icons li.twitter:hover {
    background-position: 0 -1170px;
}

ul.social-icons li {
    background-color: #fff;
    background-image: url("../Images/social-sprites.png");
    background-position: 0 100px;
    background-repeat: no-repeat;
    border-radius: 100%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
    display: inline-block;
    margin: -1px 1px 5px 0;
    overflow: visible;
    padding: 0;
    transition: all 0.3s ease 0s;
}

ul.social-icons li[class] a {
    text-indent: -9999px;
}

ul.social-icons li a {
    display: block;
    height: 30px;
    text-align: center;
    width: 30px;
}

.category-lst {
    width: 100%;
    background: #f6f6f6;
    height: auto !important;
}

.category-lst ul {
    margin: 0px;
    padding: 0;
}

.category-lst li {
    margin: 15px;
    float: left;
    border:1px solid #ff9205;
}

.category-lst li span {
    display: block;
    margin: 15px 4px;
    text-align: left;
    color: #ff9205;
    font-size: 14pt;
    font-style: italic;
}

.home-categories ul {
    margin: 0;
    padding: 0;
}

.home-categories ul li {
    display: inline;
    padding: 8px;
}

.home-categories {
    border-top: medium dotted #ff9205;
    margin: 25px 0 25px;
}

.home-categories a {
    letter-spacing: -0.08em;
}
.home-categories a:hover {
    color: #ff9205;
}
.hdng {
    text-align:left; 
    font-weight:bold; 
    color:#ff9205; 
    font-size:30px; 
    text-indent:20px;	
}
div.footer-copyright {
    background: none repeat scroll 0 0 #343434;
    border-top: 4px solid #111;
    margin-top: 40px;
    padding: 30px 0 10px;
}