@using DivinityLights.Web.Common 
@{
    ViewBag.Title = "About Us";
}
<section class="page-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="@Url.Action(Actions.Index, Controllers.HomeController)">Home</a></li>
                    <li class="active">About Us</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>About Us</h2>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row center">
        <div class="col-md-12">
            <h2 class="short word-rotator-title">
                The New Way to <strong class="inverted" data-appear-animation="bounceIn">
                    <span class="word-rotate">
                        <span class="word-rotate-items">
                            <span>Design</span>
                            <span>Customize</span>

                        </span>
                    </span>
                </strong>
                Lights.
            </h2>
            <p class="featured lead">
                After humble beginning in 2008, <b> Sovitron </b> emerged into the designer lights market with little more than a spirit to succeed. <b> Divinity Lights </b> is Lighting brand under Sovitron. Earlier Divinity Lights was with Amazone Electricals (another sister concern company). Today, with an ever increasing volume of satisfied clients, we have grown across India.

                Across all sectors of industry, our reputation is continually being built on the establishment of trust, as we constantly provide the product quality, reliability and consistency that you have come to expect.

                We continue to take on the challenges that others have shunned away, simply by listening to the client and providing the most appropriate and cost effective solutions.

            </p>
        </div>
    </div>

    <hr class="tall" />
</div>